body {
   text-align: center;
}
.pokemon-list {
   background-color: #A7C7E7;
}

button {
   margin: 10px;
   width: 500px;
   height: 150px;
   font-size: 5em;
}

button:hover {
   cursor: pointer;
}

html, 
body {
  font-family: Arial, sans-serif;
}

img {
   width:40%;

}